{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <header id="home-header" class="text-light">
        <div id="header-img"></div>
        <h1>Cédric MARTIN</h1>
        <h2>Developpeur Web et Web Mobile</h2>
    </header>

{% endblock %}
