{% extends 'base.html.twig' %}

{% block title %}Portefolio Cédric Martin{% endblock %}

{% block body %}

<header id="images" class="text-center">
    <h1>Cédric Martin</h1>
    <h2>Dévelopeur Web Junior</h2>
</header>

{% endblock %}
